* {
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
}

@font-face {
  font-family: 'Figtree Light';
  src: url(/assets/fonts/Figtree-VariableFont_wght.woff2) format('woff2-variations');
  font-weight: 300 900;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree Light Italic';
  src: url(assets/fonts/Figtree-Italic-VariableFont_wght.woff2) format('woff2-variations');
  font-weight: 300 900;
  font-display: swap;
}

:root {
  --yellow: #F4D04E;
  --gray-950: #111111;
  --gray-500: #6B6B6B;
  --white: #FFF;

  --space-300: 1.5em;
  --space-150: 0.75em;
  --space-100: 0.5em;
  --space-50: 0.25em;

  --fs-lrg: 1.5rem;
  --fs-reg: 1rem;
  --fs-med: 0.875rem;

  --fw-900: 900;
  --fw-700: 700;
  --fw-500: 500;
}

body {
  background-color: var(--yellow);
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Figtree Light', sans-serif;
}

.card {
  width: 384px;
  background-color: var(--white);
  border: solid 1px var(--gray-950);
  border-radius: 1.25rem;
  box-shadow: 8px 8px 0 0 #000;
  padding: var(--space-300);

  display: flex;
  flex-direction: column;
  gap: var(--space-300);
}

.illustration {
  width: 100%;
  border-radius: 0.625rem;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-150);
}

.content__link {
  align-self: flex-start;
  background-color: var(--yellow);
  border-radius: 0.25rem;
  color: var(--gray-950);
  padding: var(--space-50) var(--space-150);
  text-decoration: none;
  font-size: var(--fs-med);
  font-weight: var(--fw-900);
  line-height: 1.5;
}

.content__date {
  color: var(--gray-950);
  font-size: var(--fs-med);
  font-weight: var(--fw-500);
  line-height: 1.5;
}

.content__title {
  color: var(--gray-950);
  font-size: var(--fs-lrg);
  font-weight: var(--fw-900);
  line-height: 1.5;
}

.content__text {
  color: var(--gray-500);
  font-size: var(--fs-reg);
  font-weight: var(--fw-500);
  line-height: 1.5;
}
